* {
	margin:  6px;
	padding:  4px;
	margin-left: 12px;
	box-sizing: border-box;
}


.profile {
  display: flex;
  align-items: center; /* aligns text vertically with image */
  gap: 20px; /* space between image and text */
  margin-bottom: 10px; /* space below the whole block */
}

.intro-text h1 {
  margin: 0;
}

.intro-text p {
  margin: 5px 0 0;
}

body {
	background: #F2EEE2;
	color: #194EA0;
	font-family: monospace;
}

h1 {
  margin-bottom: 10px;
}

section {
  margin-top: 14px;
}

.cdesc {
  margin-bottom: 30px;
}

.list-header {
margin-top: 10px;
  margin-bottom: 20px;
  font-weight: bold;
  list-style: none;
}


